NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Giscus comments
# Fill these values from https://giscus.app after enabling GitHub Discussions.
# NEXT_PUBLIC_GISCUS_REPO=Pandi-rgb/giscus
# NEXT_PUBLIC_GISCUS_REPO_ID=R_kgDOSq56NA
# NEXT_PUBLIC_GISCUS_CATEGORY=General
# NEXT_PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOSq56NM4C-Dsa
